NEXTAUTH_SECRET="your_nextauth_secret_here"
NEXTAUTH_URL=http://localhost:3000/api/auth
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

DATABASE_URL='mysql://user:password@host/dbname?ssl={"rejectUnauthorized":true}'
DEV_DATABASE_URL='mysql://user:password@host/dbname?ssl={"rejectUnauthorized":true}'

AWS_ACCESS_KEY_ID='your_aws_access_key'
AWS_SECRET_ACCESS_KEY='your_aws_secret_key'
BUCKET_NAME='your_bucket_name'
AWS_REGION='your_aws_region'

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY='pk_test_...'
STRIPE_SECRET_KEY='sk_test_...'
STRIPE_WEBHOOK_SECRET='whsec_...'
